.moving-tab{
  display: none;
}

.active.checked.nav-link {
  background: #810606;
}
.nav-link {
  color: var(--ltn__primary-color-2) ;
}

@media (max-width:768px) {
  .mobilado{
    flex-direction: column;
  }
  .mobilado > div {
    width: 100%;
  }
}